
    <header>
        <div class="dropdown">
            <div class="dropdown-content">
                <div class="logo-div">
                    <span class="logo">Logo</span>
                    <input type="text" class="search" placeholder="Pesquisar">
                    <span class="login">Login or Signup</span>
                </div>
              <div id="div-1">
                <ul>
                  <li>Sofas</li>
                  <li>Sala</li>
                  <li>Quarto</li>
                  <li>Jantar & Cozinha</li>
                  <li>Armazenamento</li>
                  <li>Estudo & Escritório</li>
                  <li>Cama</li>
                  <li>Decoração</li>
                  <li>Candeeiro & Luzes</li>
                  <li>Outdoor</li>
                </ul>
              </div>
            </div>
          </div>
    </header>
    <main>
<br>
<section>
    
    <div class="row">
        <div class="col-lg-8"><div class="imagem1">
        <img src="assets/foto1.jpg" alt="Figura 1">
    </div>
</div>
        <div class="col-lg-4">
            <div class="imagem1">
        <img src="assets/foto1.jpg" alt="Figura 1">
            </div>
        </div>
    </div>
   <div style="margin-top: 100px;margin-bottom: 100px;">
     <h1>Nós criamos <span>Live</span>, <span>Push</span>, <span>Note</span>, <span>Move</span> e <span>Link</span> — softwares e hardwares únicos para criação e performance musical. Para que com esses produtos, nossa comunidade de usuários possa criar coisas incríveis</h1>
     <p>
         A Auluria foi fundada em 1999 e lançou a primeira versão do Live em 2001. Nossos produtos são usados por uma comunidade dedicada de músicos, designers de som e artistas do mundo todo.
     </p>
   </div>
</section>
       
<section>
    <div class="imagem2">
        <img src="assets/foto2.jpeg" alt="Figura 2">
    </div>
    <div style="margin-top: 100px;margin-bottom: 100px;">
        <h1>Fazer música não é fácil. Exige tempo, dedicação e aprendizado. Mas, quando você entra no fluxo, a recompensa é incrível.</h1>
        <p>
            Nós sentimos o mesmo quando se trata de criar os produtos da Auluria. O que nos move é a nossa paixão pelo que fazemos e pelas pessoas para quem fazemos.
        </p>
    </div>
</section>
<section>
    
    <iframe style=" left: 0px; top: 0px;" src="https://www.youtube.com/embed/9SbnhgjeyXA" title="Why Ableton - Juanpe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
    
   <div style="margin-top: 100px;margin-bottom: 100px;">
     <h1>Somos mais de 350 pessoas, de 30 países diferentes, distribuídas entre nossa sede em Lisboa e nossos escritórios em Luanda e São Paulo.</h1>
     
     <p>
         A maior parte de nós são músicos, produtores e DJs ativos, e muitos utilizam o Live e o Push diariamente. Vimos de uma ampla variedade de contextos culturais e profissionais: alguns têm doutoramentos, outros são autodidatas, e a maioria situa-se algures entre esses extremos. O que nos liga é a crença comum de que cada um de nós tem as competências e o conhecimento para contribuir para algo maior: ajudar a moldar o futuro da cultura musical.
     </p>
   </div>
</section>
<section>
    <div class="imagem3">
        <img src="assets/foto3.jpeg" alt="Figura 3">
    </div>
    
   <div style="margin-top: 100px;margin-bottom: 100px;">
     <h1>Acreditamos que é necessário foco para criar instrumentos realmente excepcionais. Trabalhamos apenas em alguns produtos e nos esforçamos para torná-los excelentes.</h1>
     
     <p>
        Em vez de adotar um processo padronizado para todos, procuramos oferecer às nossas pessoas o que elas precisam para fazer sua mágica acontecer e se desenvolverem. Aprendemos que alcançar os melhores resultados vem de construir equipes altamente diversas, capazes de explorar os problemas a partir de uma gama mais ampla de perspectivas.
        Nem sempre concordamos entre nós, mas opiniões e debates são valorizados e incentivados abertamente.
                
     </p>
   </div>
</section>
<section>
    <div class="imagem1">
        <img src="assets/foto4.avif" alt="Figura 4">
    </div>
   <div style="margin-top: 100px;margin-bottom: 100px;">
     <h1>Somos apaixonados pelo que fazemos, mas somos igualmente apaixonados por nos tornarmos pessoas melhores.</h1>
<p>Trabalhamos duro para cultivar um ambiente onde as pessoas possam crescer tanto pessoal quanto profissionalmente, e nos esforçamos para criar uma ampla variedade de oportunidades para aprender uns com os outros.</p>
     <p>
        Além de um programa interno de treinamento, os colaboradores recebem apoio ativo para adquirir novos conhecimentos e habilidades, sendo orientados sobre como aplicá-los no dia a dia. Além disso, os salões de desenvolvimento e música organizados pela própria equipe são uma oportunidade para discutir novas tecnologias, técnicas de produção e melhores práticas.
     </p>
   </div>
</section>
<section>
    <div class="imagem2">
        <img src="assets/foto5.jpeg" alt="Figura 5">
    </div>
    <div style="margin-top: 100px;margin-bottom: 100px;">
        <h1>Queremos que nossos colaboradores amem trabalhar aqui. Como estamos em busca de talentos excepcionais de todo o mundo, faremos tudo o que estiver ao nosso alcance para tornar sua transição o mais fácil possível.</h1>
        <p>
            Se você for se juntar a nós em Lisboa, ajudaremos com a mudança e a parte burocrática. Também oferecemos aulas gratuitas de potugues ou inglês.
        </p>
        <p>
            O horário de trabalho é flexível, mas nem tudo é trabalho: temos várias confraternizações da empresa e da equipe ao longo do ano, além de diversas atividades divertidas e informais em pequenos grupos.
        </p>
    </div>
</section>
<footer>
    <div class="parent">
        <div class="div1"><h1>Auluria</h1>
        </div>
        <div class="div2">
            <ul>
                <li>Registre Live, Push or Move ></li>
                <li>Sobre Auluria ></li>
                <li>Empregos ></li>
                <li>
                    <a href="http://facebook.com/ableton" target="_blank"> <img class="icons" src="assets/icons8-facebook-48.png"></a>
                    <a href="http://twitter.com/ableton" target="_blank"><img class="icons" src="assets/icons8-x-50.png"></a>
                    <a href="http://youtube.com/ableton" target="_blank"><img class="icons" src="assets/icons8-youtube-48.png"></a>
                    <a href="http://instagram.com/ableton" target="_blank"><img class="icons" src="assets/icons8-instagram-48.png"></a>
                    <a href="http://tiktok.com/@ableton" target="_blank"><img class="icons" src="assets/icons8-tiktok-48.png"></a>
                    <a href="https://discord.com/invite/ableton" target="_blank"><img class="icons" src="assets/icons8-discord-48.png"></a>
                </li>
            </ul>
           
        </div>
        <div class="div3">
            <ul>
            <h2 style="font-weight: bolder;">Educação</h2>
            <li>Ofertas Para Professores e estudantes ></li>
            <li>Auluria Para Aulas ></li>
            <li>Auluria Para Universidades ></li>
            </ul>
        </div>
        <div class="div4">
            <h2 style="font-weight: bolder;">Inscreva-se na nossa Newsletter</h2>
            <p>Insira o seu endereço Email para se manter atualizado com as últimas Ofertas, Tutoriais, Downloads, Questionários e mais.</p>
            <input type="email" class="send-email-input" placeholder="Seu Email"><button class="send-email-btn">Inscreva-se</button>
        </div>
        <div class="div5">

        </div>
        <div class="div6">
            <ul>
                <h2 style="font-weight: bolder;">Comunidade</h2>
                <li>Encontre Grupo de usuários Auluria ></li>
                <li>Encontre Treino Certificado ></li>
                <li>Seja um Treinador Certificado ></li>
            </ul>
        </div>
    </div>
    <div style="padding-bottom: 80px;" class="outras-informacoes">
        <ul class="lista-informacoes">
            <li>Contacte-nos</li>
            <li>Recursos de Conferencia</li>
            <li>Informação Legal</li>
            <li>Informação Empresarial</li>
            <li>Políticas de Privacidade</li>
            <li>Configurações de Cookie</li>
            <li>Imprint</li>
        </ul>
        <span>Logo</span>
    </div>
</footer>
    </main>
    


<router-outlet />
